[Desktop Entry]
Version=1.0
Type=Application
Name=Flathub Install Action
Comment=
Exec=flatpak install %f
Icon=flatpak
Path=
Terminal=true
StartupNotify=true
Categories=Utility;System;
NoDisplay=true
MimeType=application/vnd.flatpak.ref;
